@{
    ViewData["Title"] = "Privacy Policy";
}

<div class=text-left">
    <h1>@ViewData["Title"]</h1>
    <p>We may store your personal information for an extended period of time, depending on how we need to use the information. For example, we'll keep your email address and name on file as long as you have an account with us. 
         </p>
    <br />
</div>
